## -*- coding: utf-8 -*-
# 
# Copyright (c) 2021, gpSTS, Alex Weber-Bargioni Group
#
# This file is distributed under the terms
# of the GPL v3 License.
numpy
matplotlib
scipy
gpcam == 6.0.4
fvgp == 2.3.1
torch == 1.6.0
torchvision == 0.7.0